#signup_name_input{
    margin-top: 200px;
    width:300px;
    height:30px;
    font-size: x-large;
}
#signup_id_input{
    margin-top: 200px;
    width:300px;
    height:30px;
    font-size: x-large;
}
#signup_pass_input{
    margin-top: 200px;
    width:300px;
    height:30px;
    font-size: x-large;
}